{% extends './auth/base.html' %}
    {% block title %}Login{% endblock %}

{% block customCSS %}
    <style>
        .main-box {
            border: 1px solid #ccc;
            border-radius: 15px;
            padding: 15px;
            height: auto;
            display: flex;
            position: absolute;
            top: 15%;
            flex-direction: column;
            justify-self: center;
            width: 90%;   
        }

        .main-box__img {
            width: 150px;
            margin-bottom: 80px;
            align-self: center;
        }

        .main-box__login-form {
            display: flex;
            flex-direction: column;
        }

        .main-box__login-form label {
            font-size: var(--md);
            font-weight: 700;
            margin-bottom: 4px;
        }

        .message-box{
            text-align: center ;
            font-size: var(--md);
            color: rgb(255, 132, 132);
            height: 9vh;
            margin-bottom: 16px;
            padding: 5px;
            border: 1px;
            border-color: rgb(255, 144, 144);
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;    
        }

        input {
            background-color: var(--background-very-light-grey);
            border: none;
            border-radius: 8px;
            font-size: var(--md);
            padding: 6px;
            margin-bottom: 12px;
        }

        .login-form__login-button {
            padding: 10px;
            width: 100%;
            height: 50px;
            margin-top: 35px;
            margin-bottom: 16px;
            align-self: center;

            background-color: var(--hospital-green);
            color: var(--white);
            font-size: var(--md);
            font-weight: bold;
            border-radius: 1em;

            cursor: pointer;
        }

        .main-box__forgot {
            align-self: center;
            font-size: var(--sm);
            font-weight: 600;
            color: var(--hospital-green);
        }

        .signup-box {
            grid-column: 2/3;
            grid-row: 3/3;
            height: auto;

            display: flex;
            justify-content: center;

        }

        .signup-box button {
            position: absolute;
            bottom: 20px;
            border-radius: 8px;

            height: 50px;
            width: 90%;

            background-color: var(--white);
            border-color: var(--hospital-green);
            border-style: 5px;
        }
        .signup-box a {
            color: var(--hospital-green);
            font-size: var(--lg);
            font-weight: 700;
            text-decoration: none;
        }

        @media (min-width: 760px) {

            .main-box {
            margin-left:37% ;
            top: 20%;
            width: 26%;   
            }


            .signup-box button {
                width: 26%;
            }
        }

        
    </style>
{% endblock %}

{% block body %}
    <section class="main-box">
        <img src="../../static/luxuryLeatherLogoPack/svg/logo-no-background.svg" alt="logo" class="main-box__img">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <br>
            {% for message in messages %}
            <div class="message-box"><strong>{{ message }}</strong></div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <form action="/client_login" method="POST" class="login-form main-box__login-form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            
            <label for="email-box" class="email-label login-form__email-label">Email addres</label>
            <input type="email" id="email-box" name="email" placeholder="botafora@email.com" class="email-input login-form__email-input" required>

            <label for="password-box" class="password-label login-form__password-label">Password</label>
            <input type="password" id="password-box" name="password" placeholder="***********" class="password-input login-form__password-input" required>
            
            <button type="submit" value="Log in" class="login-form__login-button">Log in</button>
        </form>
        <p class="main-box__forgot">Forgot my password</p>
    </section>
    <section class="signup-box">
        <button id="signup-buttton">
            <a href="/register_user_select">Sign up</a>
        </button>
    </section>
{% endblock %}