{% extends './auth/base.html' %}
    {% block title %}My Product{% endblock %}

{% block customCSS %}
<style>
</style>
{% endblock %}
{% block body %}
    {% include 'auth/navbar.html' %}
    <!-- editProductVariables Variables

    -->
    {% with product = takeProductById %}
    <section class="main-container">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <h1>Edita tu producto de {{current_user.companyName}}</h1>
        <!--Name Edit-->
        <form action="/edit_product/{{product[0][0]}}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="parameter" value="name">

            <label for="parameter">Product Name</label>
            <input type="text" name="newValue">
            <button type="submit"> Editar Nombre</button>
        </form>
        <!--Price edit-->
        <form action="/edit_product/{{product[0][0]}}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="parameter" value="price">

            <label for="parameter">Product price</label>
            <input type="text" name="newValue">
            <button type="submit"> Editar precio</button>
        </form>
        <!--imgUrl edit-->
        <form action="/edit_product/{{product[0][0]}}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="parameter" value="imgUrl">

            <label for="parameter">Product image URL</label>
            <input type="text" name="newValue">
            <button type="submit"> Cambiar imagen</button>
        </form>
        <!--DELETE PRODUCT-->
        <form action="/edit_product/{{product[0][0]}}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="parameter" value="DELETE_PRODUCT">

            <button type="submit">Eliminar cuenta</button>
        </form>
    {% endwith %}
    </section>

{% endblock %}