{% extends './base.html' %}
    {% block title %}home{% endblock %}

{% block customCSS %}
   <style>
    /* Main grid -> items grid */
        .cards-box {
            margin-top: 1em;
            gap: 20px;

            display: grid;
            grid-template-columns: repeat(auto-fill, 140px);
            
            place-content: center;
            
        }

        .product-card {
            width: 140px;
        }

        .product-card img{
            width: 140px;
            height: 140px;
            border-radius: 20px;

            object-fit: cover;
        }
        
        .product-info {
            display: flex;
            margin-top: 8px;
            
            justify-content: space-between;
        }

        .product-info div p:nth-child(1) {
            color: var(--black);
            font-weight: bold;
            font-size: var(--md);
        }
        .product-info div p:nth-child(2) {
            margin-bottom: 0;
            margin-top: 0;
            
            color: var(--very-light-grey);
            font-size: var(--sm);
            
        }

        .product-info figure {
            margin: 0;
        }
        .product-info figure img {
            width: 35px;
            height: 35px;
        }

        @media (min-width: 760px) {
            .cards-box {
                grid-template-columns: repeat(auto-fill, 240px);
            }

            .product-card {
                width: 240px;
            }

            .product-card img {
                width: 240px;
                height: 240px;
            }
        }
      
    </style>
{% endblock %}

{% block body %}
<!--current_user.property -> para usar las propiedades que declaramos en el archivo User.py-->
    {% include 'auth/navbar.html' %} <!-- De esta forma copiamos todo lo que tiene navbar -->
    <section class="main_container">
        <div class="cards-box">
            {% with products = funcion() %} <!-- Creamos una variable que contenga todos los datos de todos los productos  -->
                {% for product in products  %} <!-- Esto es una lista por la forma que creamos la función asi que podemos recorrer cada producto -->
                    <div class="product-card cards-box__product-card" id="">
                        <img src="https://images.pexels.com/photos/1383834/pexels-photo-1383834.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="product-img">
                        <div class="product-info">
                            <div>
                                <p>{{product[4]}}</p><!-- En cada indice se encuentra cada dato (db indices)-->
                                <p>{{product[2]}}</p>
                            </div>
                            <figure>
                                <img src="./assets/icons/bt_add_to_cart.svg" alt="">
                            </figure>
                        </div>
                    </div> 
                {% endfor %}
            {% endwith %}
        </div>
    </section>

    <script src="{{ url_for ('static', filename = 'js/main.js') }}"></script>
    
{% endblock %}