{% extends './auth/base.html' %}
    {% block title %}Editar cuenta{% endblock %}

{% block customCSS %}
<style>
    main{
        display: grid;
        grid-template-columns: 1fr 0.8fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    section{
        grid-column: 2/3;
        display: flex;
        flex-direction: column;
        gap: 20px;
        
    }

    .form-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .form-container .edit{
        font-family: var(--font);
        padding: 4px;
        color: var(--very-light-grey);
        cursor: pointer;
        border: none;
        background: none;
        box-shadow: none;
    }

    .delete-button{
        display: inline;
        border-radius: 8px;
        
        height: 50px;
        width: 100%;

        background-color: var(--danger-zone);
        border-color: var(--black);
        border-style: 5px;
    }

    .form-left,
    .form-right{
        display: flex;
        flex-direction: column;
    }

    .tittle {
        margin-top: 8%;
        margin-bottom: 40px;

        font-size: var(--lg);
        text-align: center;
        
        font-family: 'Quicksand' ;
        font-weight: 700;
    }
    .main-box__edit-form {
        display: flex;
        flex-direction: column;
    }

    label {
        font-size: var(--md);
        font-weight: 700;
        margin-bottom: 4px
    }
    input {
        background-color: var(--text-input-field);
        border: none;
        border-radius: 8px;
        font-size: var(--md);
        height: 40px;
        padding: 6px;
        margin-bottom: 20px;
    }


    @media (min-width: 760px) {

    }
</style>
{% endblock %}

{% block body %}
    {% include 'auth/navbar.html' %}
    <main class="edit-account-box">
        <section>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <br>
                    {% for message in messages %}
                        <div class="message-box"><strong>{{ message }}</strong></div> 
                    {% endfor %}
                {% endif %}
            {% endwith %}
        <h1 class="tittle edit-account-box__tittle">Edita tu cuenta de luxury lether</h1>
        {% if current_user.userType == 'seller'%} <!--Forms for seller users-->
            <form action="/my_account_edit/{{current_user.userType}}/{{current_user.id}}" method="POST" class="form-container">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="parameter" value="email">
                <div class="form-left">
                    <label for="newValue">New email</label>
                    <input type="email" name="newValue" placeholder="{{current_user.email}}">
                </div>
                <div class="form-right">
                    <button type="submit" class="edit">Confirmar</button>
                </div>
            </form>
            <form action="/my_account_edit/{{current_user.userType}}/{{current_user.id}}" method="POST" class="form-container">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="parameter" value="password">
                <div class="form-left">
                    <label for="newValue">New account password</label>
                    <input type="text" name="newValue" placeholder="*********">
                </div>
                <div class="form-right">
                    <button type="submit" class="edit">Confirmar</button>
                </div>
            </form>
            <form action="/my_account_edit/{{current_user.userType}}/{{current_user.id}}" method="POST" class="form-container">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="parameter" value="ceoName">
                <div class="form-left">
                    <label for="newValue">New CEO Name</label>
                    <input type="text" name="newValue" placeholder="{{current_user.ceoName}}">
                </div>
                <div class="form-right">
                    <button type="submit" class="edit">Confirmar</button>
                </div>
            </form>
            <form action="/my_account_edit/{{current_user.userType}}/{{current_user.id}}" method="POST" class="form-container">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="parameter" value="companyName">
                <div class="form-left">
                    <label for="newValue">New company name</label>
                    <input type="text" name="newValue" placeholder="{{current_user.companyName}}">
                </div>
                <div class="form-right">
                    <button type="submit" class="edit">Confirmar</button>
                </div>
            </form>
            <!--DELETE ACCOUNT-->
            <form action="/my_account_edit/{{current_user.userType}}/{{current_user.id}}" method="POST" >
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="parameter" value="DELETE_ACCOUNT">
                <input type="hidden" name="newValue" value="">

                <button type="submit" class="delete-button">Eliminar cuenta</button>
            </form>


        {% else %} <!--Forms for client users-->
            <form action="/my_account_edit/{{current_user.userType}}/{{current_user.id}}" method="POST" class="form-container">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="parameter" value="email">
                
                <div class="form-left">

                    <label for="newValue">New email</label>
                    <input type="email" name="newValue" placeholder="{{current_user.email}}">
                </div>
                <div class="form-right">
                    <button type="submit" class="edit">Confirmar</button>
                </div>
            </form>
            <form action="/my_account_edit/{{current_user.userType}}/{{current_user.id}}" method="POST" class="form-container">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="parameter" value="username">
                <div class="form-left">
                    <label for="newValue">New username</label>
                    <input type="text" name="newValue" placeholder="{{current_user.username}}" >
                </div>
                <div class="form-right">
                    <button type="submit" class="edit">Confirmar</button>
                </div>
            </form>
            <form action="/my_account_edit/{{current_user.userType}}/{{current_user.id}}" method="POST" class="form-container">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="parameter" value="fullname">
                <div class="form-left">
                    <label for="newValue">New fullname</label>
                    <input type="text" name="newValue" placeholder="{{current_user.fullname}}">
                </div>
                <div class="form-right">
                    <button type="submit" class="edit">Confirmar</button>
                </div>
            </form>
            <form action="/my_account_edit/{{current_user.userType}}/{{current_user.id}}" method="POST" class="form-container">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="parameter" value="password">
                <div class="form-left">
                    <label for="newValue">New password</label>
                    <input type="text" name="newValue" placeholder="***********">
                </div>
                <div class="form-right">
                    <button type="submit" class="edit">Confirmar</button>
                </div>
            </form>
            <form action="/my_account_edit/{{current_user.userType}}/{{current_user.id}}" method="POST" class="form-container">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="parameter" value="postal_code">
                <div class="form-left">
                    <label for="newValue">New postal code</label>
                    <input type="text" name="newValue" placeholder="{{current_user.postal_code}}">
                </div>
                <div class="form-right" >
                    <button type="submit" class="edit">Confirmar</button>
                </div>
            </form>
            <form action="/my_account_edit/{{current_user.userType}}/{{current_user.id}}" method="POST" class="form-container"> 
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="parameter" value="adress">
                <div class="form-left">
                    <label for="newValue">New adress</label>
                    <input type="text" name="newValue" placeholder="{{current_user.adress}}">
                </div>
                <div class="form-right">
                    <button type="submit" class="edit">Confirmar</button>
                </div>
            </form>
            <form action="/my_account_edit/{{current_user.userType}}/{{current_user.id}}" method="POST" class="form-container">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="parameter" value="city">
                <div class="form-left">
                    <label for="newValue">New city</label>
                    <input type="text" name="newValue" placeholder="{{current_user.city}}">
                </div>
                <div class="form-right">
                    <button type="submit" class="edit">Confirmar</button>
                </div>
            </form>
            <form action="/my_account_edit/{{current_user.userType}}/{{current_user.id}}" method="POST" class="form-container">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="parameter" value="phone">
                <div class="form-left">
                    <label for="newValue">New phone number</label>
                    <input type="text" name="newValue" placeholder="{{current_user.phone}}">
                </div>
                <div class="form-right">
                    <button type="submit" class="edit">Confirmar</button>
                </div>
            </form>
            <!--DELETE ACCOUNT-->
            <form action="/my_account_edit/{{current_user.userType}}/{{current_user.id}}" method="POST" class="form-container">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="parameter" value="DELETE_ACCOUNT">
                <input type="hidden" name="newValue" value="">
    
                <button type="submit" class="delete-button">Eliminar cuenta</button>
            </form>
            
        {% endif %}
        </section>
    </main>
{% endblock %}