<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">

</head>    
<body>
    <nav>
        <img src="../static/icons/icon_menu.svg" alt="menu" class="icon-menu">
        <div class="navbar-left">
            <img src="../static/logo/logo_bota_fora.svg" alt="logo" class="logo">
            <ul>
                <li><a href="/">All</a></li>
                <li><a href="/">Clothes</a></li>
                <li><a href="/">Electronics</a></li>
                <li><a href="/">Furniture</a></li>
                <li><a href="/">Toys</a></li>
                <li><a href="/">Others</a></li>
            </ul>
        </div>
        <div class="navbar-right">
            <ul>   <!-- User name only exist with clients and companyName only exist with seller so we can use them in the same line -->
                <li class="navbar__email">{{ current_user.username }}{{current_user.companyName}}</li>
                <li class="navbar__toggle">
                    <img src="../static/icons/flechita.svg" alt="">
                </li>
                <li class="navbar__shopping-cart">
                    <img src="../static/icons/icon_shopping_cart_notification.svg" alt="">
                </li>
            </ul>
        </div>
        <div class="desktop-menu inactive">
            <ul>
                <li>
                    {% if current_user.userType == "client" %}
                        <a href="/" class="tittle">My orders</a>
                    {% else %}
                        <a href="/my_account">My Products</a>
                    {% endif %}
                </li>
                <li>
                    {% if current_user.userType == "client" %}
                        <a href="/my_account">My account</a>
                    {% else %}
                        <a href="/my_account">My store</a>
                    {% endif %}
                </li>
                <li>
                    <a href="{{ url_for('logout') }}">Sign Out</a>
                </li>
            </ul>
        </div>
    </nav>
    <script src="{{ url_for ('static', filename = 'js/main.js') }}"></script>
</body>
</html>